<div class="text-content">
    <h2><font style="font-family:Algerian;">Welcome To Beauty With Care</font></h2>
    <h4>We are a team of dedicated professionals committed to delivering the highest quality products and services. Our mission is to innovate and lead the industry with integrity and excellence.
    </h4>

</div>
  <div class="video-container">
    <video autoplay muted loop>
        <source src="../assets/video.mp4.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<div class="content-container">
    <div class="postcard-container">
        <div class="postcard">
            <h2>Our Vision</h2>
            <p>At Beauty With Care , we envision a world where beauty products enhance natural beauty and promote self-confidence.</p>
        </div>
        <div class="postcard">
            <h2>Our Mission</h2>
            <p>Our mission is to provide high-quality, sustainable cosmetic products that make our customers look and feel their best.</p>
        </div>
        <div class="postcard">
            <h2>Our Goals</h2>
            <p>1. Innovate with eco-friendly ingredients.<br>2. Ensure inclusivity and diversity.<br>3. Prioritize customer satisfaction.<br>4. Expand our global reach.</p>
        </div>
    </div>
</div>
